@charset "UTF-8";

/*
Cores:
lilas: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0px;
    padding: 0px;
}


body{
    background-color: #5f2c82;
    margin-top: 200px;
}

section#imagem{
    background-image: url(../imagem/city.jpg);
    background-size: cover;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main > article > h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

main > article > p{
    text-align: left;
    font-size: 1.1em;
    margin: 10px;
}

main{
    background-color: white;
    width: 300px;
    height: 700px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.473);
}

form > div.box{
    background-color: #5f2c82;
    display: flex;
    justify-content: center;  /* centraliza horizontalmente */
    align-items: center;      /* centraliza verticalmente */
    width: 90%;
    height: 45px;
    border-radius: 5px;
    margin: 5px auto
}

div.box >span{
        color: white;
        font-size: 2em;
        width: 40px ;
        padding: 5px 0px 5px 5px;
}


div.box > input{
    border-radius: 8px;
    width: 28vh;
    height: 30px;
    background-color: rgba(16, 206, 143, 0.295);
}


#submit{
    width: 36vh;
    height: 60px;
    margin: 10px 20px 5px 20px;
    background-color: rgb(49, 184, 139);
    color: white;
    font-size: 1.1em;
    border-radius: 7px;
    border-color: rgb(31, 104, 79);
}
#submit:hover{
    color: black;
    background-color: rgb(2, 82, 56);
}

#reset{
    width: 36vh;
    height: 60px;
    margin: 0px 20px 20px 20px;
    border-radius: 7px;
    font-size: 1.1em;
    color: rgb(9, 78, 55);

}

#reset:hover{
    color: black;
    background-color: rgb(2, 82, 56);  
}