@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}


body{
    background-color: rgb(93, 44, 128);
    margin-top: 200px;
}

img{
    width:  40vh;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
}

main > article > h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

main > article > p{
    text-align: left;
    font-size: 1.1em;
    margin: 10px;
}

main{
    background-color: white;
    width: 40vh;
    height: 70vh;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.473);
}

span{

    color: white;
    background-color: rgb(93, 44, 128);
    width: 45px;
    height: 40px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 0px;
    text-align: center;
    border-radius: 6px;
}


#iemail{
    border-radius: 8px;
    width: 30vh;
    height: 35px;
    background-color: rgba(16, 206, 143, 0.295);
    border-color:rgb(93, 44, 128);
    border-width: 4px;
    margin-left: 0px;
}

#isenha{
    border-radius: 8px;
    width: 30vh;
    height: 35px;
    background-color: rgba(16, 206, 143, 0.295);
    border-color:rgb(93, 44, 128);
    border-width: 4px;
}

#submit{
    width: 36vh;
    height: 60px;
    margin: 10px 20px 5px 10px;
    background-color: rgb(49, 184, 139);
    color: white;
    font-size: 1.1em;
    border-radius: 7px;
    border-color: rgb(31, 104, 79);
}
#submit:hover{
    color: black;
    background-color: rgb(2, 82, 56);
}

#reset{
    width: 36vh;
    height: 60px;
    margin: 0px 20px 20px 10px;
    border-radius: 7px;
    font-size: 1.1em;
    color: rgb(9, 78, 55);

}

#reset:hover{
    color: black;
    background-color: rgb(2, 82, 56);  
}